body {
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-theme-knitting-with-cute-knitter-girls-doodle-style_68162-1168.jpg?w=1480);
    background-size:130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Big Shoulders Stencil;
    font-size:30px;
  }

  .card {
    background: white;
    padding: 1em;
    border-radius: 4em;
    max-width: 500px;
    background: rgba(204, 204, 204, 0.5);
    align-items: center;
  }

  .profile-photo {
    height: 50%;
    width:50%;
    border-radius: 4em;
  }

  .alignment {
    display: flex;
    flex-direction: row;
    border-radius: 4em;
    height: 30%;
  }

  .sketch {
    height: 10%;
    width:30%;
    margin: 1em;
    border-radius: 4em;
    margin-left: 15em;
  }