body {
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-theme-knitting-with-cute-knitter-girls-doodle-style_68162-1168.jpg?w=1480);
    background-size:130vh;
    justify-content: center;
    text-align: center;
    font-family: Big Shoulders Stencil;
    font-size:25px;
  }

  .card {
    padding: 1em;
    border-radius: 4em;
    width: 50em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-left: 80px;
  }

  .profile-photo {
    height: 50%;
    width:48%;
    border-radius: 4em;
    align-items: center;
    margin-bottom: 10px;
  }

  .alignment {
    display: flex;
    flex-direction: row;
  }

  .sketch {
    height:50%;
    width:50%;
    margin: 1rem;
    border-radius: 4rem;
    margin-left: 50px;
  }

  h1, h2 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 4em;
  }

  footer {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline-block;
  }
